<!-- <h1>Add A Job!</h1>
  <div class="form-group">
    <label for="extra_job">Enter A Job:</label>
    <input id="extra_job" name="extra_job" class="form-control" type="text" placeholder="My next job was:">
  </div>
  <div class="form-group">
    <label for="extra_description">Enter a Description:</label>
    <input id="extra_description" name="extra_description" class="form-control" type="text" placeholder="Where I:">
  </div>
<form action="/success" method="post">
<button type="submit" class="btn btn-info">Add Another Job!</button>
</form> -->
