<h1>List Your Job History</h1>

<form action="/success" method="post">
  <div class="form-group">
    <label for="job_one">Enter A Job:</label>
    <input id="job_one" name="job_one" class="form-control" type="text" placeholder="My first job was:">
  </div>
  <div class="form-group">
    <label for="description_one">Enter a Description:</label>
    <input id="description_one" name="description_one" class="form-control" type="text" placeholder="Where I:">
  </div>
  <div class="form-group">
    <label for="job_two">Enter A Job:</label>
    <input id="job_two" name="job_two" class="form-control" type="text" placeholder="My second job was:">
  </div>
  <div class="form-group">
    <label for="description_two">Enter a Description:</label>
    <input id="description_two" name="description_two" class="form-control" type="text" placeholder="Where I:">
  </div>
  <div class="form-group">
    <label for="job_three">Enter A Job:</label>
    <input id="job_three" name="job_three" class="form-control" type="text" placeholder="My third job was:">
  </div>
  <div class="form-group">
    <label for="description_three">Enter a Description:</label>
    <input id="description_three" name="description_three" class="form-control" type="text" placeholder="Where I:">
  </div>
  <div class="form-group">
    <label for="job_four">Enter A Job:</label>
    <input id="job_four" name="job_four" class="form-control" type="text" placeholder="My fourth job was:">
  </div>
  <div class="form-group">
    <label for="description_four">Enter a Description:</label>
    <input id="description_four" name="description_four" class="form-control" type="text" placeholder="Where I:">
  </div>

  <button type="submit" class="btn btn-info">Go!</button>
</form>
